.errorModuleClass{
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 30px;
    text-align: center;
    font-weight: bold;
    color: red;
}

.playerheadercss{
    position: absolute;
    left: 50%;
    top: 10px;

    border-radius: 10px;
    width: 350px;
    height: 50px;
    border: 2px solid black;

    transform: translateX(-50%);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    user-select: none;
}

.miscpanelcentered{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

    user-select: none;
}
.startgamebutton{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

    background: whitesmoke;
    border: 2px solid black;
    border-radius: 15px;

    font-weight: bold;
    font-size: 25px;
    padding: 10px;

    cursor: pointer;
    z-index: 1005;
    user-select: none;
}
.startgamebutton:hover{
    background: rgba(80, 74, 74, 0.3);
}

.hightlighttilecss{
    position:absolute;
    background:rgba(242,233,107,0.3);
    border-radius: 15px;
    z-index: 1000;
}
.hightlighttilecss:hover{
    background:rgba(242,233,107,0.7);
    cursor: pointer;
}
.spawnpointselected{
    position:absolute;
    background:rgba(4, 92, 99, 0.521);
    border-radius: 15px;
}