.errorModuleClass{
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 30px;
    text-align: center;
    font-weight: bold;
    color: red;
}

.playerheadercss{
    position: absolute;
    left: 50%;
    top: 10px;

    border-radius: 10px;
    width: 350px;
    height: 50px;
    border: 2px solid black;

    transform: translateX(-50%);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    user-select: none;
}

.miscpanelcentered{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

    user-select: none;
}
.startgamebutton{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

    background: whitesmoke;
    border: 2px solid black;
    border-radius: 15px;

    font-weight: bold;
    font-size: 25px;
    padding: 10px;

    cursor: pointer;
    z-index: 1005;
    user-select: none;
}
.startgamebutton:hover{
    background: rgba(80, 74, 74, 0.3);
}

.hightlighttilecss{
    position:absolute;
    background:rgba(242,233,107,0.3);
    border-radius: 15px;
    z-index: 1000;
}
.hightlighttilecss:hover{
    background:rgba(242,233,107,0.7);
    cursor: pointer;
}
.highlightselectedcss{
    position:absolute;
    background:rgba(4, 92, 99, 0.521);
    border-radius: 15px;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1.5s ease-in-out forwards;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.abilitycardcss{
    display: flex;
    flex-direction: column;
    position: absolute;

    border-radius: 15px;

    background: whitesmoke;
    transition: transform 0.2s ease-out;

    cursor: pointer;
    user-select: none;
}


.trapsetcss{
    position: absolute;
    background: white;
    border-radius: 3px;
    left: var(--start-x);
    top: var(--start-y);
    z-index: 4000;
    
    animation: move 0.4s ease-in-out forwards;
}
@keyframes move {
    from {
        top: var(--start-y);
    }
    to {
        top: var(--end-y);
    }
}
.statusappliedcss{
    position: absolute;
    background: rgba(242,233,107);
    left: var(--center-x);
    top: var(--center-y);
    border-radius: 15px;
    z-index: 4000;

    animation: fadeaway 0.7s ease-in-out forwards;
}
@keyframes fadeaway {
    from {
        opacity: 0.9;
    }
    to {
        opacity: 0
    }
}

.statusiconcss{
    width: 30px;
    height: 30px;
    margin: 5px;
    cursor: pointer;
    border: 1px solid black;
}